<section class="section">
  <div class="container">
    <div class="row">
      {% if section.settings.section_title != blank %}
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ section.settings.section_title }}</h2>
      </div>
      {% endif %}
      <div class="col-12">
        {% assign collection = collections[section.settings.collection] %}
        <div class="collection-slider">
          {% for product in collection.products %}
          <!-- product -->
          <div class="col-lg-4 col-sm-6">
            {% include 'product'%}
          </div>
          <!-- /end of product -->
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Top Collection",
    "settings": [{
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Top Collection"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Select Collection"
      }
    ],
    "presets": [{
      "name": "Top Collection",
      "category": "Collection"
    }]
  }
{% endschema %}